@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);

* {
    font-family: Montserrat, sans-serif;
}

// CONTENT

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.title {
    margin: 2rem 2rem;
    padding-left: 2ch;
    grid-column: 1 / 4;
    align-self: center;
    justify-self: center;
    font-size: 26px;
}

.card {
    border: 3px solid black;
    border-radius: 5px;
    padding: 2ch;
    margin: 1rem;
}

.subtitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
}

.summary {
    font-size: 14px;
}